<main role="main" class="container">
<% title "Add a Drink"%>
<h1>Add a new Drink Recipe </h1>

<%= render 'form', recipe: @recipe %>

<p><%= link_to 'Back', recipes_path%>
<p><%= link_to 'Home', home_path %></p>

</main><!-- /.container -->
