<main role="main" class="container">
<h1>Add a new Drink Recipe </h1>

<% if @recipe.errors.any? %>
  <%= @recipe.errors.full_messages %>
<% end %>

<%= render 'form', recipe: @recipe %>

<p><%= link_to 'Back', recipes_path%>
<p><%= link_to 'Home', home_path %></p>

</main><!-- /.container -->
