<main role="main" class="container">
<% title "Edit ingredient."%>
<h1>Edit Ingredient</h1>

<%= render 'form', recipe_id: @ingredient.recipe.id, ingredient: @ingredient %>

<p><%= link_to 'Back', recipe_path(@recipe) %></p>
<p><%= link_to 'Home', home_path %></p>

</main><!-- /.container -->