<main role="main" class="container">
<h1>ingredients</h1>

<p>
  <strong>Amount:</strong>
  <%= @ingredient.amount %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @ingredient.measurement %>
</p>

<p>
  <strong>Ingredientname:</strong>
  <%= @ingredient.ingredientName %>
</p>


<%= link_to 'Back', home_path %>

</main><!-- /.container -->