
    <main role="main" class="container">

     

        <h1>Edit New Drink Comment </h1>


            <%= render 'form', recipe_id: @drink_comments.recipes.id,  drink_comment: @drink_comments %>  
            
            <%# = render 'form', recipe_id: @drink_comments.recipes.id, drink_comment: @drink_comments  %>

            <%= link_to 'Back', recipe_path(@drink_comments.recipes.id)%>


        



    </main><!-- /.container -->