
<main role="main" class="container">

<h1><b>Drink Comment </b> </h1>

<p>
  <b> LikeStatus: </b><%=  @drink_comments.likeStatus %>
</p>

<p>
  <b> Comment: </b> <%=  @drink_comments.comment %>
</p>


<p>
  <b> ReviewDate: </b><%=  @drink_comments.reviewDate %>
</p>



</main><!-- /.container -->