<main role="main" class="container">
      
	<p>
		<h1>Welcome to BarApp, the DrinkRecipe Sharing App</h1>
	</p>
      
	  <%= link_to 'Recipes', recipes_path %>
	  <%= link_to 'Add a new Drink Recipe', new_recipe_path %>
</main><!-- /.container -->