// Place all the styles related to the ingredient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Border versions
//
// Add or remove borders all around the table and between all the columns.
table, th, td {
    border: 2px solid white;
    color: white
  }

  table {
    width: 100%;
  }
  
  th {
    height: 50px;
    text-align: center;
  }

  td {
    text-align: center;
  }