<% provide(:title, 'User Index Page') %>

  <h2>Welcome to BarApp, <%= @user_profile.name %>!</h2>
  <br>

  <p>
      <%= link_to 'View My Profile' , show_profile_path(@user_profile), class:"btn btn-primary" %>
  </p>
  
  <p>
        <%= link_to 'Recipe List', recipes_path, class:"btn btn-primary" %>
  </p>
   