<% provide(:title, 'User Index Page') %>

  <h2>Welcome <%= @user_profile.name %></h2>

  <p>
      <%= link_to 'Profile' , show_profile_path(@user_profile) %>
  </p>
  
  <p>
        <%= link_to 'Recipes', recipes_path %>
  </p>
   