<main role="main" class="container">
    <h1>BarApp - List by Occasion</h1>
    
   <table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Drink Name</th>
            <th scope="col">Location</th>
            <th scope="col">Date Added</th>
            <th scope="col">Recipe</th>
        </tr>
    </thead>
    <tbody>
        <% @drinks.each do |drinks|%>
        <tr>
            <th scope="row"><%=  drinks.drinkName %></th>
            <th><%= drinks.drinkLocation %></th>
            <th><%= drinks.drinkDate %></th>
            <th>Recipe</th>

        </tr>
        <% end %>
    </tbody>
    
  

   </table>

</main>  
