<main role="main" class="container">
<h1>Ingredients</h1>

<table >
  <thead>
    <tr>
      <th>Ingredients</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.map(&:ingredientName).uniq.each do |ingredient| %>
      <tr>
          <td><%= ingredient %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
</main><!-- /.container -->